body {
    font-family: 'Montserrat', sans-serif;
    color: #364f6b;
    background-color: rgb(248,249,250);
}

section {
    border-style: solid;
    border-width: 5px;
}

hr{
    margin: auto;
    
    border-top: 7px dotted #11cbd7;
    background-color: white;
    opacity: 100;
    width: 6%;
}

a:link {
    text-decoration: none;
}

.highlight-name{
    color: #11cbd7;
}

/* ============== */
/* NAVBAR STYLING */
/* ============== */

.navbar {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

#nav-header {
    background-color: #364f6b!important;
}

#header-title {
    margin-left: 20%;
    font-size: 2rem;
    font-weight: bold;
}

#header-links {
    margin-right: 25%;
}

#name i {
    color: white;
}

a.nav-link {
    font-weight: bold;
    letter-spacing: 1px;
}

#dropdownMenuButton1 {
    background-color: #364f6b!important;
    border: 0;
}

/* ============== */
/*  HOME STYLING  */
/* ============== */
#home{
    text-align: center;
    /* padding-top: 1%; */
}

#main-title{
    font-size: 5rem;
    font-weight: bold;
}

/* social links */
.social-links {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: end;
}

/* social icons */
i {
    color: #11cbd7!important;
    font-size: 4rem;
}

/* ================= */
/* EDUCATION STYLING */
/* ================= */

#education {
    max-width: 700px;
    margin: 0 auto;
}

.highlight{
    color: #fc5185;
}

/* ================= */
/*  FOOTER STYLING   */
/* ================= */

footer {
    background-color: #364f6b;
}