body {
    font-family: 'Montserrat', sans-serif;
    color: #364f6b;
}

hr{
    margin: auto;
    
    border-top: 7px dotted #11cbd7;
    background-color: white;
    opacity: 100;
    width: 6%;
    padding: 10px;
}

a:link {
    text-decoration: none;
}

.highlight-name{
    color: #11cbd7;
}

/* ============== */
/* NAVBAR STYLING */
/* ============== */

#header-title {
    margin: auto;
    font-size: 2.5rem;
}

#name i {
    color: white;
}

#nav-links {
    position: absolute;
    right: 10%
}

#header-nav {
    background-color: #11cbd7!important;
}

#dropdownMenuButton1 {
    background-color: #11cbd7!important;
    border: 0;
}

/* ============== */
/*  HOME STYLING  */
/* ============== */
#home{
    text-align: center;
    padding-top: 5%;
}

#main-title{
    font-size: 5rem;
    font-weight: bold;
}

/* social links */
.social-links {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: end;
}

/* social icons */
i {
    color: #11cbd7!important;
    font-size: 4rem;
}

/* ================= */
/* EDUCATION STYLING */
/* ================= */

#education {
    max-width: 700px;
    margin: 0 auto;
}

.highlight{
    color: #fc5185;
}